.el-popper{
  padding: 0;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
  .content{
      li{
        color: $text-gray-color;
        font-size: $xs-size;
        padding: 15px 0 15px 15px;
        border-bottom:1px solid $border-color;
        display: flex;
        cursor: pointer;
        &:last-child{
          border-bottom:none;
        }
        i{
          width: 16px;
          height: 16px;
          background-size: contain;
          background-repeat: no-repeat;
          margin-right: 10px;
        }
        .password{
          background-image: url('assets/image/icon/passwords@2x.png')
        }
        .maintain{
          background-image: url('assets/image/icon/infor3@2x.png')
        }
        .invoice{
          background-image: url('assets/image/icon/cost@2x.png')
        }
        .logout{
          background-image: url('assets/image/icon/edit_hover@2x.png')
        }
      }
  }
}