.app{
  .step-main3{
    .el-input__prefix{
      right: 5px;
      left: unset;
    }
    .sms-amount{
      .el-input-group__append{
        border-left: 0;
        background: #fff;
      }
      .el-input__inner{
        border-right: 0;
      }
    }
    .sms-amount.is-error{
      .el-input-group__append{
        border-color: #f56c6c;
      }
    }
  }
  .menu-list4{
    .el-radio__input{
      position: absolute;
      top: 67px;
    }
    .el-radio {
      margin-left: 30px;
    }
  }
  .form-group{
    .el-checkbox{
      margin-right: 8px;
    }
  }
  .el-checkbox__label{
    font-size: $xs-size;
    padding-left: 6px;
    color:$text-main-color;
  }
  .el-checkbox__inner{
    width:16px;
    height:16px;
    border-color:$checkbox-border-color;
    border-radius: 4px;
    &::after{
      left:5px;
      top:2px;
    }
  }
  .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: $main-color;
    border-color: $main-color;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner{
    background-color: $main-color;
    border-color: $main-color;
  }
  .el-checkbox__input.is-focus .el-checkbox__inner{
    border-color: $main-color;
  }
  .el-checkbox__input.is-checked+.el-checkbox__label{
    color: $main-color;
  }
  .el-checkbox__inner:hover{
    border-color: $main-color;
  }
  .el-radio__input.is-checked .el-radio__inner{
    background-color: $main-color;
    border-color: $main-color;
  }
  .el-radio__inner:hover{
    border-color: $main-color;
  }
  .el-radio__input.is-checked+.el-radio__label{
    color: $main-color;
  }
  .add-sms-push{
    .step-main2{
      .el-radio{
        .el-radio__input{
          height: 45px;
        }
      }
    }
  }
  .order-detail .el-rate__item{
    .el-icon-star-on{
      color:$main-color !important;
      &.disaicon{
        display: none;
      }
    }
  }
}
.app {
  .el-form-item__content{
    .el-select{
      .el-select__tags{
        >span{
          display: flex;
        }
      }
    }
  }
}
.menu-dialog{
  .el-dialog__body{
    padding-bottom: 0;
    padding-left: 0;
    .menu-lists{
      height: 420px;
      overflow-x: hidden;
      margin-bottom: 15px;
    }
  }
  .el-radio__input.is-checked .el-radio__inner{
    background-color: $main-color;
    border-color: $main-color;
  }
  .el-radio__inner:hover{
    border-color: $main-color;
  }
  .el-radio__input.is-checked+.el-radio__label{
    color: $main-color;
  }
  .menu-list4{
    .el-radio__input{
      position: absolute;
      top: 67px;
    }
    .el-radio {
      margin-left: 30px;
    }
  }
  .el-button--primary{
    background-color: $main-color;
    border-color: $main-color;
  }
}