.app{
  .el-steps{
    .el-step__icon{
      width:18px;
      height:18px;
    }
    .el-step__icon-inner{
      font-weight: 500;
      font-size: $xs-size;
    }
    .el-step__line{
      background-color:#424552;
    }
    .el-step__title{
      font-size: $xs-size;
      line-height: 28px;
      font-weight: 500;
      &.is-success{
        color:$text-main-color;
      }
    }
    .el-step__title.is-process{
      color:$main-color;
    }
    .el-step__title.is-wait{
      color:$text-main-color;
    }
    .el-step__head.is-success{
      .el-step__icon.is-text{
        background-color:#424552;
        color:#fff;
        border:0;
      }
    }
    .el-step__head.is-process{
      .el-step__icon.is-text{
        background-color:$main-color;
        color:#fff;
        border:0;
      }
    }
    .el-step__head.is-success{
      border-color:#424552;
    }
    .el-step__head.is-wait{
      .el-step__icon.is-text{
        background-color:#424552; 
        border:0;
      }
    }
  }
}